/* app css stylesheet */
.hoverwell:hover {
    background-color: #52575c;
    cursor: pointer;
}
select, textarea {
    color: #52575c;
}
#map {
    height: 400px;
    margin-top: 1px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.select-container {
    flex: 1;
}


@media only screen and (max-width: 450px) {

    #map {
        width: 100%;
    }

    .item {
        width: 100%;
    }
}

html, body {
    height: 30%;
    margin: 0;
    padding: 0;
}
.form-booking{
    text-align: center;
}
.container_app_booking {

}
.nav-item{
    align-content: center;
}
form-group{
    align-content: center;
}
.form-control{
    align-content: center;
}
.text-center{
    text-align: -moz-center;
    align-items: center;
}
.well-title {
    margin-top: 0px;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
    height: 64px;
    padding: 7px;
}

.votingButton {
    padding-left:6px;
    cursor:pointer;
}

.blue {
    color:blue;
}
.my-booking{
    width: 100%;
    height: 150px;
    border: 0px solid #ccc;
    background-color: #f8f8f8;

}
.container{
    width: 30%;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: beige;
    border-radius: 5px;
    text-align: center;

}
.container_booking{
    width: 70%;
    margin: auto;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 40px;
    background-color: beige;
    border-radius: 5px;
    text-align: justify;

}
.input_booking {
    width: 30%;

    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 40px;
    background-color: beige;
    border-radius: 5px;
    text-align: center;
}
.calendar{
    border: 1px solid #555;
    width: 238px;
}
.calendar .row {
    margin-left: 0px;
}
.input{
    text-align: left;
    align-items: center;
}
.calendar .row div{
    float:left;
    padding:2px;
    width:30px;
    text-align:center;
}
.calendar-nav-left {
    float:left;
    width: 20px;
    padding:2px;
}
.signup{
    text-align: left;
    align-items: center;
}
.calendar-nav-right {
    float:left;
    width: 20px;
    padding:2px;
    text-align:right;
}

.calendar .row .calendar-hdr {
    padding:2px;
    float:left;
    width: 166px;
    text-align:center;
}
.pointer {
    cursor: pointer;
}
.date-picker {
    position: absolute;
    top: -7px;
    left: 209px;
    background-color: #272b30;
}
.map{

}