<!doctype html>
<html lang="en">
<head>
    <base href="/"/>
    <link rel="stylesheet" href="/css/app.css"/>

</head>
<body class="container_app" ng-app="eventsApp" >
<div class="container" ng-controller="Controller" >
    <div class=" navbar-collapse" id="navbarNav">
        <ngb-ul class="navbar-nav ">
            <ngb-li class="nav-item">
                <a class="nav-link" href="/login" >Login</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/profile" >My Profile</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/booking" >Booking</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/my-booking" >My Booking</a>
            </ngb-li>
        </ngb-ul>
    </div>
    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <div style="display: flex">
                    <h1>Booking</h1>
                </div>
                <div class="divider"></div>
            </div>
            <form class="form-booking" method="post" name="register" novalidate>

                <div class="input">
                    <label for="first-name">First Name</label>
                    <input id="first-name" type="text" class="validate" required>
                </div>

                <div class="input">
                    <label for="last-name">Last Name</label>
                    <input id="last-name" type="text" class="validate" required>
                </div>

                <div class="input">
                    <label for="phone_number">Phone Number</label>
                    <input type="password" class="form-control" id="phone_number" name="type" ng-model="phone_number" ng-maxlength='10' class="validate" required>
                </div>

                <div class="input">
                    <label for="email">Email address</label>
                    <input id="email" type="email" class="form-control" name="type" aria-describedby="emailHelp" class="validate" ng-show="form-register.email.$error.email" required>
                </div>
                <div class="input">
                    <label for="from-address">From address</label>
                    <input id="from-address" type="text" class="validate" required>
                </div>

                <div class="input">
                    <label for="to-address">To address</label>
                    <input id="to-address" type="text" class="validate" required>
                </div>

                <div class="form-group form-check">
                    <div style="display: flex">
                        <input type="radio" name="cartype" id="car-type-1" checked="checked" class="validate" required>
                        <label for="car-type-1">Price for Car Type 1</label>
                    </div>
                    <input id="price-car-type-1" type="text" class="validate" required disabled>
                    <br>
                    <div style="display: flex">
                        <input type="radio" name="cartype" id="car-type-2" class="validate" required>
                        <label for="car-type-2">Price for Car Type 1</label>
                    </div>
                    <input id="price-car-type-2" type="text" class="validate" required disabled>
                </div>
                <br>Payment method</br>
                <div class="form-group form-check">
                    <div style="display: flex">
                        <input type="radio" name="payment" id="changemode-card"  checked="checked" class="validate" required>
                        <label for="changemode-card"> Card</label>
                    </div>
                    <div style="display: flex">
                        <input type="radio" name="payment" id="changemode-cash" class="validate" required>
                        <label for="changemode-cash"> Cash</label>
                    </div>
                    <div style="display: flex">
                        <input type="radio" name="payment" id="changemode-transfer" class="validate" required>
                        <label for="changemode-transfer"> Bank transfer</label>
                    </div>
                </div>


                <div class="space-top text-left">
                    <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                        <i class="material-icons left" ng-click="initMyProfile()" >Done</i>
                    </button>
                    <button type="button" class="waves-effect waves-light btn cancel">
                        <i class="material-icons left" >Cancel</i>
                    </button>
                </div>
            </form>

            <p id="distance"></p>
            <p id="estimation"></p>
            <div id="map"></div>


        </div>
    </div>
</div>

</body>
</html>