<!doctype html>
<html lang="en" >
<head>

    <meta charset="utf-8">

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-route.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>

    <script src="/js/app.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css"/>


</head>

<body class="container_app" ng-app="eventsApp">
<div class="container" ng-controller="MyController" >

        <h1>Login</h1>
        <div class="form-group">
            <br><label for="email">Email address</label></br>
            <input id="email" type="email" class="form-control" name="type" ng-model="email.text" required>
        </div>

        <div class="form-group">
            <br><label for="password">Password</label></br>
            <input type="password" class="form-control" id="password" name="type" ng-model="password.text" ng-minlength='5'  required>
        </div>


       <div class="space-top text-left">
           <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
               <i class="material-icons left" ng-click="connect()"  >Connect</i>
           </button>
       </div>


</div>

</body>
</html>