<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-route.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="/js/app.js"></script>
</head>


<body class="container_app"  ng-app="eventsApp">
<div class="container" ng-controller="MyController"  data-ng-init="MyBooking()">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ngb-ul class="navbar-nav ">
            <ngb-li class="nav-item">
                <a class="nav-link" href="/login" >Login</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/profile" >My Profile</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/booking" >Booking</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/my-booking" >My Booking</a>
            </ngb-li>
        </ngb-ul>
    </div>
    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <div class="text-center">
                    <h1>My Booking</h1>
                </div>
                <div>
                    <form class="form-group" method="post" name="register" novalidate>
                        <div class="form-group">
                            <br><label for="from-address">From address</label></br>
                            <input id="from-address" type="text" class="validate" required>
                        </div>

                        <div class="form-group">
                            <br><label for="to-address">To address</label></br>
                            <input id="to-address" type="text" class="validate" required>
                        </div>
                        <div class="form-group">
                            <br><label for="distance">Distance</label></br>
                            <input id="distance" type="text" class="validate" required>
                        </div>
                        <div class="form-group">
                            <br><label for="duration">Duration</label></br>
                            <input id="duration" type="text" class="validate" required>
                        </div>
                        <div class="form-group">
                            <br><label for="price">Price</label></br>
                            <input id="price" type="text" class="validate" required>
                        </div>

                        <div class="space-top text-left">
                            <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                                <i class="text-center" ng-click="initMyProfile()" >Update</i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>