<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-route.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>

    <script src="/js/app.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css"/>

</head>


<body class="container_app" ng-app="eventsApp" >
<div class="container"  ng-controller="MyController">
    <div class=" navbar-collapse" id="navbarNav">
        <ngb-ul class="navbar-nav ">
            <ngb-li class="nav-item">
                <a class="nav-link" href="/login" >Login</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/profile" >My Profile</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/booking" >Booking</a>
            </ngb-li>
            <ngb-li class="nav-item">
                <a class="nav-link" href="/my-booking" >My Booking</a>
            </ngb-li>
        </ngb-ul>
    </div>


    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <div class="text-center">
                    <h1>Profile</h1>
                </div>

                <form class="form-group" method="post" name="register" novalidate>

                <div class="form-group">
                    <br><label for="nume">Nume</label></br>
                    <input id="nume" type="text" class="validate" name="nume" ng-model="nume" required>
                </div>

                <div class="form-group">
                <br><label for="password">Password</label></br>
                    <input type="password" class="validate" id="password" name="password" ng-model="password" ng-minlength='10'  required>
                </div>


                <div class="form-group">
                    <br><label for="email">Email address</label></br>
                    <input id="email" type="email" class="validate" name="email" ng-model="email.text"  required>
                </div>

                <div class="space-top text-left">
                    <button id="update" class="waves-effect ">
                        <i class="text-center" ng-click="update()" >Edit</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>